// Sans
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap")
// Serif
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap")

$sans = "IBM Plex Sans", Georgia,Garamond,"Times New Roman", serif
$serif = "IBM Plex Serif", Georgia,Garamond,"Times New Roman", serif
$oak-blue = #004162
$oak-gold = #eaa43c

$width = 780px


// Stylus Modules
@import '/import/normalize'
@import '/import/type'
@import '/import/map'
@import '/import/geocoder'
@import '/import/locator'
@import '/import/layout'