#app-container
    position relative
    max-width 720px
    margin 0 auto

.search-container
    display flex
    flex-direction row
    flex-wrap nowrap
    justify-content flex-start
    align-content stretch
    align-items flex-start
    position relative
    width 100%
    margin 0 0 4px 0

    .geocoder
        flex 1 0 auto

    .locator
        flex 0 1 auto

#results-container
    text-align center
    padding 35px 0

.result
    font-family Georgia, serif 
    font-weight 400
    font-size 22px
    color #088