// Locator icon
.locator
    border .75px solid gray
    padding 10px
    margin 0 0 0 4px
    cursor pointer
    transition background-color 250ms ease-in

.locator:hover
    background-color lightgray

.locator-icon
    display inline-block
    width 20px
    height 20px
    vertical-align middle
    speak none
    background-repeat no-repeat
    background-image url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI0LjAuMywgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCgkgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyMCAyMCIKCSBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyMCAyMDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8Zz4KCTxwYXRoIGQ9Ik0xMCwzLjdjLTMuNSwwLTYuMywyLjgtNi4zLDYuM3MyLjgsNi4zLDYuMyw2LjNzNi4zLTIuOCw2LjMtNi4zUzEzLjUsMy43LDEwLDMuN3ogTTEwLDEzLjljLTIuMiwwLTMuOS0xLjctMy45LTMuOQoJCVM3LjgsNi4xLDEwLDYuMXMzLjksMS43LDMuOSwzLjlTMTIuMiwxMy45LDEwLDEzLjl6Ii8+Cgk8Y2lyY2xlIGN4PSIxMCIgY3k9IjEwIiByPSIxLjciLz4KPC9nPgo8L3N2Zz4K')